#!/usr/bin/make -f
%:
	dh $@ --with python3

override_dh_install:
	dh_install
	dh_icons

override_dh_auto_install:
	dh_auto_install
	rm -rf debian/displayctl/usr/local

override_dh_installdocs:
	dh_installdocs README.md

override_dh_compress:
	dh_compress -X.py
