#!/usr/bin/make -f
%:
	dh $@ --with python3

override_dh_install:
	dh_install
	# Install displayctl binary as a console script
	mkdir -p debian/displayctl/usr/bin
	# The entry point is registered via setup.py console_scripts

override_dh_installdocs:
	dh_installdocs README.md

override_dh_compress:
	dh_compress -X.py
